#parent{
    width:100vw;
    height:100vh;
    background-color:#F7A200;
    position: absolute;
    top:0;
    left:0;
}
#id8{
    width:700px;
    height:500px;
   
    margin-left:25vw;
    margin-top:6vw;
    display: flex;
}
#id9{
    width:40%;
    background-color:#047BD5;
    border:2px solid #047BD5;
height:100%;
}
#id10{
    width:60%;
    background-color: white;
    height:100%;
    border:2px solid white;
    position: relative;
}
#id11{
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#id12{
    color:darkgray;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#id13{
    color:#F8E831;
}
#id14{
    width:150px;
    height:150px;
    margin-left:60px;
}
.c38{
    height:30px;
    width:230px;
    text-align: center;
    border:2px solid whitesmoke;
    border-radius:6px;
    margin:10px;
    position: absolute;
    top:15px;
    left:60px; 
  
}
.c39{
    height:30px;
    width:230px;
    text-align: center;
    border:2px solid whitesmoke;
    border-radius:6px;
    position: absolute;
    top:85px;
    left:70px; 
    

}
.c40{
    height:30px;
    width:230px;
    text-align: center;
    border:2px solid whitesmoke;
    border-radius:6px;
    position: absolute;
    top:145px;
    left:70px;
    
}
.c41{
    height:30px;
    width:230px;
    text-align: center;
    border:2px solid whitesmoke;
    border-radius:6px;
    position: absolute;
    top:205px;
    left:70px;
    
    color:red;
}
.c42{
    height:30px;
    width:240px;
    text-align: center;
    border:2px solid whitesmoke;
    border-radius:6px;
    position: absolute;
    top:265px;
    left:70px;
    font-weight: bold;
    color:white;
    background-color: #047BD5;
}
#id15{
    width:230px;
    height:30px;
    border:2px solid whitesmoke;
    position: absolute;
    top:315px;
    left:73px;
    background-color: #F7A200;
}